<%@tasks.each do |task|%>
	<%=render 'edit', task: task%>
	<%=render 'destroy', task: task%>
<%end%>
<%=render 'new'%>
<table class="table table-bordered seq-table table-curved">
	<tr>
		<th rowspan="0">Tasks</th>
	</tr>
	<tr class="seq-data-table">
		<td id="tasks-table">
			<table class="seq-table-unstyled seq-table-header">
				<tr>
					<th>Name</th>
					<th>Completed?</th>
					<th></th>
				</tr>
				<%num = 0%>
				<%@tasks.each do |task|%>
					<tr class="hover" id="task-<%=task.id%>">
						<td><%=task.name%></td>
						<td><%=check_box("task", "completed")%></td>
						<td>
							<a href="#destroyTask<%=task.id%>" role="button" data-toggle="modal" class="close pull-right">&times;</a>
						<a href="#editTask<%=task.id%>" role="button"  data-toggle="modal"><span class="glyphicon glyphicon-pencil pull-right"></i></a>
						</td>
					</tr>
					<%num += 1%>
					<%break if num==15%>
				<%end%>
				<tr class="seq-full-row"><td></td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><a href="#newTask" role="button" class="btn btn-default pull-right" data-toggle="modal">New Task</a></td>
	</tr>
</table>
<script>

</script>
